.user-collection {
    display: flex;
    flex-direction: column;
    width: calc(100% - 360px);
    margin: auto;
}

.user-collection__dashboard {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 40px;
    gap: 28px;
}

.user-collection__profile {
    display: flex;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    padding: 24px;
    width: 400px;
    box-sizing: border-box;
    background: rgb(244,244,244);
    background: linear-gradient(292deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 50%, rgba(244,244,244,1) 100%);
}

.user-collection__logout {
    margin-left: auto;
    height: 24px;
    width: 24px;
    align-self: flex-end;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.user-collection__logout-image {
    height: 24px;
    width: 24px;
    cursor: pointer;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-15deg);
    }
    90% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.user-collection__logout-image:hover {
    opacity: 100%;
    animation: shake 0.15s linear none 1;
}

.user-collection__side-info {
    background-color: white;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    background: rgb(244,244,244);
    background: linear-gradient(292deg, rgba(244,244,244,1) 0%, rgba(255,255,255,1) 50%, rgba(244,244,244,1) 100%);
}

.user-collection__profile-image {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background: rgb(7,3,69);
    background: linear-gradient(323deg, rgba(7,3,69,1) 0%, rgba(65,145,161,1) 100%);
    box-shadow: inset rgba(0, 0, 0, 0.25) -16px -16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-collection__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: auto 0px auto 12px
}

.user-collection__profile-name {
    font-size: 32px;
    font-weight: 700;
}

.user-collection__profile-info {
    opacity: 50%;
    font-weight: 700;
}

.user-collection__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
}

.user-collection__header-title {
    padding-top: 12px;
    line-height: 12px;
}

.user-collection__add-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.user-collection__add-collection:hover {
    box-sizing: border-box;
    box-shadow: -2px -2px 4px rgba(0, 0, 0, 0.15);
}

.user-collection__add-image {
    height: 16px;
    width: 16px;
    opacity: 80%;
}

.user-collection__collection-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 12px 0px 12px 0px;
}