@keyframes write {
    0% {
        transform: rotate(0deg);
    }

    20% {
        transform: rotate(-10deg);
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-10deg);
    }

    80% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.edit {
    cursor: pointer;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit:hover .edit__pen {
    animation: write 1s ease 0s 1 forwards;
}