.checkbox {
	cursor: pointer;
	height: 16px;
}

.checkbox__icon {
	pointer-events: none;
}

.checkbox:hover .checkbox__fill {
	stroke: rgba(29, 29, 29, 0.75);
}

.checkbox:hover .checkbox__fill_checked {
	fill: #6a8b35;
}

.checkbox__fill {
	fill: #ffffff;
	stroke: rgba(29, 29, 29, 0.4);
	transition: fill 0.2s, stroke 0.2s;
}

.checkbox__fill_checked {
	fill: #74a12e;
	stroke: rgba(29, 29, 29, 0.8);
}

.checkbox__fill_loading {
	fill: #faac0f;
}

.checkbox__path {
	pointer-events: none;
	transition: stroke-dashoffset 0.3s ease-in-out;
}

.checkbox__path_checked {
	stroke-dashoffset: 0;
}

.checkbox__path_loading {
	display: none;
}
