.container {
    width: 480px;
    position: absolute;
    gap: 2px;
}

.containerHidden {
    opacity: 0%;
    bottom: 0;
    user-select: none;
    pointer-events: none;
}

.containerPositionBottom {
    top: calc(100% + 4px);
}

.containerPositionAbove {
    bottom: calc(100% + 4px);
}
