.filter {
    cursor: pointer;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
    color: rgba(29, 29, 29, 0.4);
    padding-left: 12px;
    transition: color 0.15s, background-color 0.15s;
}

.filterSelected {
    composes: filter;
    background-color: rgba( 29, 29, 29, 0.1 );
    color: rgba(29, 29, 29, 0.8);
}