.attributeTag {
	display: flex;
	font-weight: 700;
	font-size: 10.5px;
	align-items: center;
	padding: 0px 8px;
	border-radius: 3px;
	user-select: none;
	height: 18px;
}

.removeAttribute {
	font-weight: 700;
	padding: 0px 2px 0px 0px;
}

.removeAttribute:hover {
	color: white;
	cursor: pointer;
}
