.collection {
	height: 100vh;
	position: relative;
	overflow: hidden;
	padding: 39px 6px 6px;
	display: flex;
	box-sizing: border-box;
}

.collection__header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid grey;
	padding-bottom: 2px;
}

.collection__name {
	width: 100%;
	margin-right: auto;
	font-size: 2em;
	font-weight: bold;
	border: none;
	padding: 0px;
	outline-width: 0;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0);
}

.collection__content {
	display: flex;
	flex-direction: column;
	gap: 6px;
	flex: 1;
}
