.item-editor {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0px;
    bottom: 0px;
    margin: 50px 6px 6px 0px;
    width: 480px;
    padding: 0px;
    height: calc(100vh - 44px);
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.2);
    transition: right 0.2s ease-in-out;
    overflow: hidden;
}

.item-editor_hidden {
    right: -500px;
}

.item-editor__title-bar {
    height: 36px;
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);
    display: flex;
    justify-content: space-between;
}

.item-editor__header {
    font-size: 18px;
    margin: auto 0px auto 8px;
}

.item-editor__cross-button {
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    outline: none;
    border: none;
    border-left: 1px solid rgba(29, 29, 29, 0.2);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.item-editor__cross-button:hover {
    background-color: #D73A3A;
}

.item-editor__cross-image {
    width: 20px;
    height: 20px;
}

.item-editor__cross-button:hover .item-editor__cross-image {
    color: white;
}

.item-editor__content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 6px;
}

.item-priority {
    display: flex;
    gap: 8px;   
}

.item-priority__label {
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 32px;
    width: 48px;
    border-radius: 6px;
    border: 1px dashed rgba(29, 29, 29, 0.25);
}

input[type="radio"]:checked+label { 
    border: 1px solid rgba(29, 29, 29, 0.75);
}

.item-assignee {
    height: 34px;
    background-color: rgba(29, 29, 29, 0.05);
    width: 224px;
    border-radius: 6px;
    border: 1px solid rgba(29, 29, 29, 0.25);
    display: flex;
    align-items: center;
    padding: 6px;
    box-sizing: border-box;
    gap: 6px;
}

.item-assignee__profile {
    background-color: grey;
    border: 1px solid #292929;
    height: 20px;
    width: 20px;
    border-radius: 10px;
}

.item-assignee__name {
    font-size: 14px;
    line-height: 14px;
    margin: 0px;
}

.item-checklist {
    height: 34px;
}

.item-checklist__title {
    margin: 6px 0px 6px 0px;
    font-weight: 700;
    color: rgba(29, 29, 29, 0.75);
}

.item-checklist__label {
    height: 24px;
    display: flex;
    align-items: center;
    vertical-align: text-top;
    font-size: 13px;
}

.item-checklist__input {
    margin-right: 6px;    
}