.check-list {
    display: flex;
    flex-direction: column;
    padding: 12px 0px 0px;
    flex: 1;
    justify-content: space-between;
}

.check-list__add-more {
    padding: 4px;
    display: flex;
}

.check-list__input {
    flex-grow: 2;
    height: 36px;
    outline: none;
}