.check-list {
    display: flex;
    flex-direction: column;
    padding: 12px 0px 0px;
    flex: 1;
    justify-content: space-between;
}

.check-list__add-item {
    margin: 4px;
    height: 32px;
}

.check-list__group-element {
    height: 32px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    gap: 8px;
}

.check-list__group-element-name {
    font-weight: 700;
}

.check-list__group-element-desc {
    opacity: 50%;
}