.checklist {
	padding: 0px;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.content {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

.noContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 2;
}

.noContentBlurb {
	font-size: 24px;
	color: rgba(29, 29, 29, 0.2);
}
