.cc {
    overflow: hidden;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cc:hover {
    cursor: pointer;
}

.cc__content-left {
    display: flex;
    flex-direction: row;
}

.cc__collection-details {
    margin: 8px;
    width: 150px;
}

.cc__collection-title {
    font-weight: 600;
}

