.button {
    padding: 0px;
    margin: 0px;
    border: 0px;
    
    background-color: #292929;
    box-shadow: 0px 0px 5px rgba(29, 29, 29, 0.3);
    cursor: pointer;
    transition: box-shadow 0.2s ease-in-out;
}

.button:hover {
    box-shadow: 0px 0px 5px rgba(29, 29, 29, 0.6);
}

.button__size_s {
    padding: 6px 8px;
    font-size: 12px;
}

.button__size_m {
    padding: 6px 12px;
    font-size: 16px;
}

.button__size_l {
    padding: 8px 16px;
    font-size: 20px;
}

.button__r-style_s {
    border-radius: 4px;
}

.button__r-style_m {
    border-radius: 8px;
}

.button__r-style_l {
    border-radius: 12px;
}

.button__style_primary {
    background-color: #292929;
    color: white;
}

.button__style_positive {
    background-color: #74A12E;
}

.button__style_negative {
    background-color: #D73A3A;
    color: white;
}

.button__style_neutral {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: rgba(0, 0, 0 , 0);
}

.button__shape_circle {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.button__shape_circle_s {
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.button__shape_circle_m {
    width: 28px;
    height: 28px;
    border-radius: 14px;
}

.button__shape_circle_l {
    width: 36px;
    height: 36px;
    border-radius: 18px;
}


.text-button {
    width: auto;
    margin: auto 0px;
}

.text-button > p {
    font-size: x-large;
    margin: auto 14px;
}


.icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-button > img {
    width: 20px;
    height: 20px;
    opacity: 50%;
    transition: opacity 0.2s eas;
}

.icon-button:hover > img {
    opacity: 100%;
}
