.trashcan {
    cursor: pointer;
    margin: auto 0px;
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}

.trashcan:hover {
    background-color: rgba(29, 29, 29, 0.1);
}

.trashcan__icon {
    pointer-events: none;
}

.trashcan__icon #lid {
    transition: transform 0.1s ease-in-out;
}

.trashcan:hover #lid {
    transform: translate(0.5px, -2px) rotate(5deg);
}