.cl-sidebar {
	width: 240px;
	padding: 0px;
	margin-right: 6px;
	box-sizing: border-box;
}

.cl-sidebar__profile {
	display: flex;
	align-items: center;
	padding: 8px 0px 8px 12px;
	gap: 6px;
	margin-bottom: 8px;
}

.cl-sidebar__profile-left {
	width: 32px;
	height: 32px;
	border-radius: 4px;
	background-color: #002147;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 700;
}

.cl-sidebar__menu {
	display: flex;
	flex-direction: column;
}

.cl-sidebar__item {
	height: 32px;
	padding: 2px 0px 2px 5px;
	margin: 2px 4px;
	display: flex;
	align-items: center;
	opacity: 50%;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 3px;
	transition: opacity 0.2s, background-color 0.2s;
	color: rgba(29, 29, 29, 0.7);
	text-decoration: none;
}

.cl-sidebar__item:hover {
	background-color: rgba(116, 161, 46, 0.8);
}

.cl-sidebar__item:hover:not(.cl-sidebar__item_selected) {
	opacity: 85%;
}

.cl-sidebar__item-image {
	height: 18px;
	width: 18px;
}

.cl-sidebar__item-title {
	margin: 0px 5px;
	line-height: 26px;
	font-size: 14px;
	font-weight: 500;
	transition: margin-left 0.2s;
}

.cl-sidebar__item_selected {
	opacity: 100%;
	background-color: rgba(116, 161, 46, 0.8);
	color: white;
}
