.general-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.general-input__header {
    margin: 6px 12px 6px 0px;
    height: 20px;
    font-weight: 700;
    color: rgba(29, 29, 29, 0.75);
}