.patch {
    display: flex;
    flex-direction: row;
}

.patch__container {
    box-sizing: border-box;
    flex-grow: 2;
}

.patch__header {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.patch__version {
    margin: 0px;
    margin-top: 3px;
}

.patch__button {
    height: 32px;
    width: 32px;
}

.patch__button-image {
    margin: 6px auto;
    height: 20px;
    width: 20px;
}

.patch__notes {
    margin-top: 8px;
}

.patch__update {
    margin: 0px;
}

.patch:hover .patch__toolbar {
    opacity: 100%;
}