.patch__header {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.patch__version {
    margin: 0px;
    margin-top: 3px;
}

.patch__tool-bar {
    display: flex;
    gap: 8px;
    opacity: 0%;
    transition: opacity 0.1s ease-in-out;
}

.patch:hover .patch__tool-bar {
    opacity: 100%;
}

.patch__notes {
    margin-top: 8px;
}

.patch__update {
    margin: 0px;
}

.patch:hover .patch__toolbar {
    opacity: 100%;
}