.item-editor {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 12px 12px 12px 0px;
    height: calc(100vh - 24px);
    width: 480px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.2);
    animation: right 0.2s ease-in-out;
}

.item-editor_hidden {
    right: -480px;
}