.item-editor {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 12px 12px 12px 0px;
    height: calc(100vh - 24px);
    width: 480px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(29, 29, 29, 0.2);
    transition: right 0.2s ease-in-out;
}

.item-editor_hidden {
    right: -500px;
}

.item-editor__title-bar {
    height: 36px;
    border-bottom: 1px solid rgba(29, 29, 29, 0.2);
    display: flex;
    justify-content: space-between;
}

.item-editor__header {
    font-size: 18px;
    margin: auto 0px auto 8px;
}

.item-editor__cross-button {
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    outline: none;
    border: none;
    border-left: 1px solid rgba(29, 29, 29, 0.2);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.item-editor__cross-button:hover {
    background-color: #D73A3A;
}

.item-editor__cross-image {
    width: 20px;
    height: 20px;
}

.item-editor__cross-button:hover .item-editor__cross-image {
    color: white;
}

.item-editor__content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 6px;
}

.item-editor__input {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.item-editor__input p {
    margin: 0;
}

.item-editor__input p.input-name {
    margin-top: 6px;
    margin-right: 8px;
    font-weight: 700;
    color: rgba(29, 29, 29, 0.5)
}

.item-editor__input p.blurb {
    padding: 6px;
    background-color: whitesmoke;
    border-radius: 6px;
}


