.add-item {
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 12px;
}

.add-item__content {
    display: flex;
}

.add-item__importance {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    height: 32px;
    align-items: center;
    padding-right: 24px;
    box-sizing: border-box;
}

.add-item__radio {
    border: 1px dashed #292929;
    width: 48px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 50%;
} 

.add-item__radio_selected {
    opacity: 100%;
    border: 1px solid #292929;
}