.root td {
    padding: 7px 0px;
}

.root:hover {
    background-color: rgba(29, 29, 29, 0.1);
}

.middle {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.attributeBar {
    display: flex;
}

.checkboxCell {
    display: flex;
    align-content: start;
    justify-content: center;
}

.checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.blurbCell {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    transition: color 0.15s;
}

.labelStrike {
    color: rgba(29, 29, 29, 0.5);
    text-decoration: line-through 1px;
}

.attributeTag {
    background-color: lightgreen;
    font-weight: 700;
    font-size: 12px;
    align-content: center;
    padding: 1px 4px 2px 4px;
    border-radius: 3px;
}

.trashCan {
    height: 16px;
    width: 16px;
    margin: 0px 0px auto auto;
    visibility: hidden;
}

.root:hover .trashCan {
    visibility: visible;
}
