.home {
    width: 100;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.home__splash {
    height: 600px;
    padding-top: 60px;
    box-sizing: border-box;

    display: flex;

    background: rgb(7,3,69);
    background: linear-gradient(323deg, rgba(7,3,69,1) 0%, rgba(65,145,161,1) 100%);
    box-shadow: inset rgba(0, 0, 0, 0.25) -16px -16px 32px;
}

.home__splash-container {
    display: flex;
    height: 128px;
    gap: 24px;
    transform: translate(180px, calc(128px + 64px));
}

.home__splash-image {
    width: 124px;
    height: 124px;
}

.home__splash-span {
    font-size: 56px;
    font-weight: 700;
}

.home__splash-h2 {
    font-size: 36px;
    color: white;
    font-weight: 500;
}
.home__splash-p {
    font-size: 24px;
    color: white;
    opacity: 70%;
}
.home__main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 54px;
    padding: 54px 108px 54px 108px;
}

.home__section {
}

.home__section h3 {
    font-size: 48px;
}

.home__section p {
    font-size: 20px;
}

.home__feature-list {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

@keyframes tilt {
    0% {
        transform: translate(0px, 0px) scale(1);
    }
    100% {
        transform: translate(0px, -8px) scale(1.04);
    }
}

.home__feature-card {
    flex-basis: 21%;
    flex-grow: 2;
    height: 280px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-image: url("../../assets/noise.svg");
}

.home__feature-card:hover {
    animation: tilt 0.3s ease-in-out 1 both alternate;
    
}

.home__footer {
    height: 256px;
    background: rgb(40,40,40);
    background: linear-gradient(283deg, rgba(40,40,40,1) 0%, rgba(0,0,0,1) 100%);
}