.body {
    position: relative;
    width: 100%;
    padding: 4px;
    box-sizing: border-box;
}

.menu {
    position: absolute;
    transform: translateY(calc(-100% - 4px));
    background-color: white;
    border: 1px solid rgba(29, 29, 29, 0.1);
    max-width: min(100%, 360px);
    padding: 4px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.input {
    display: flex;
    flex-grow: 1;
    height: 32px;
}

.primaryInput {
    width: 100%;
    height: 32px;
    padding: 4px;
    box-sizing: border-box;
    outline: none;
    align-self: center;
    border: 1px solid rgba(29, 29, 29, 0.1);
    border-radius: 4px;
    box-shadow: rgba(29, 29, 29, 0.1) 0px 0px 2px;
}

.menuInput {
    outline: none;
    width: 100%;
}

.secondaryInput {
    background-color: #77A2CF;
    height: 100%;
    display: flex;
    align-items: center;
}

.attributeRenderer {
    display: flex;
    background-color: rgba(29, 29, 29, 0.1);
}

.menuItem {
    height: 28px;
    transition: background-color ease-in-out 0.2s;
    padding-left: 4px;
    display: flex;
    align-items: center;
}

.menuItemActive {
    background-color: rgba(29, 29, 29, 0.3);
}