.clitem {
    height: 28px;
    display: flex;
    align-items: center;
    padding: 0px 12px 0px 32px;
    justify-content: space-between;
}

.clitem:hover {
    background-color: var(--color-off-white);
}

.clitem__left-container {
    display: flex;
    align-items: center;
}

.clitem__right-container {
    display: flex;
    align-items: center;
    visibility: hidden;
}

.clitem:hover .clitem__right-container {
    visibility: visible;
}

.clitem__checkbox {
    width: 16px;
    height: 16px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
}

.clitem__checkbox:hover {
    border-color: black !important;
}

.clitem__label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    transition: color 0.15s
}

.clitem__strike {
    color: rgba(29, 29, 29, 0.5);
}

.clitem__label::after {
    content: " ";
    position: absolute;
    left: -2px;
    top: 50%;
    width: 0%;
    height: 1px;
    background: rgba(29, 29, 29, 0.7);
    transition: width 0.15s;
}

.clitem__strike::after {
    width: calc(100% + 4px);
}