.sign-in__modal {
    display: flex;
    padding: 0px;
    overflow: hidden;
}

.sign-in__splash {
    width: 128px;
    flex: 1;
    overflow: hidden;
    display: flex;
    background: rgb(34,193,195);
    background: linear-gradient(-138deg, rgba(34,193,195,1) 0%, rgba(10,0,121,1) 100%);
    align-items: end;
    padding: 16px;
    box-sizing: border-box;
}

.sign-in__image {
    width: 40px;
}

.sign-in__form {
    padding: 24px;
    width: 320px;
}

.sign-in__header {
    font-size: 32px;
    margin-bottom: 36px;
}

.sign-in__inputs {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sign-in__controls {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 12px;
}

.sign-in__submit {
    padding: 8px 24px 8px 24px;
}

.sign-in__submit__state_processing {
    background-color: rgba(29, 29, 29, 0.5);
}

.sign-in__switch {
    color: rgba(29, 29, 29, 0.7);
    text-align: center;
    font-size: 12px;
}

.sign-in__switch-link {
    color: #292929;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0px;
    cursor: pointer;
    font-weight: 700;
}

.sign-in__switch-link:hover {
    text-decoration: underline solid #292929;
}