s {
    opacity: 50%;
}

.section {
    color: #292929;
    padding: 0px;
    margin-bottom: 4px;
}

.section__header {
    display: flex;
    padding: 0px 6px;
}

.section__collapse-button {
    height: 28px;
    width: 28px;
    border: 0px;
    border-radius: 14px;
    background-color: white;
}

.section__collapse-button:hover {
    background-color: lightgrey;
}

.section__name {
    margin: 0px;
}

.section__items {
    display: flex;
    flex-direction: column;
}

.section__new-item {
    height: 32px;
    opacity: 0%;
    display: flex;
}

.section__new-item:hover {
    background-color: whitesmoke;
}

.section__new-item:has( .section__new-item-input:focus ) {
    opacity: 100%;
}

.section:hover .section__new-item {
    opacity: 100%;
}

.section__new-item-input {
    margin-left: 34px;
    color: #292929;
    background-color: rgba(0,0,0,0);
    width: calc(100% - 13px);
    text-wrap: wrap;
    box-sizing: border-box;
    border: 0px;
    outline-width: 0;
}

