.rich-input {
    display: flex;
    position: relative;
}

.rich-input__menu {
    max-height: 180px;
    width: 100%;
    padding: 0px;
    background-color: white;
    position: absolute;
    bottom: calc(100% + 3px);
    display: flex;
    flex-direction: column;
}

.rich-input__input-container {
    display: flex;
    border: 1px solid rgba(29, 29, 29, 0.2);
    border-radius: 3px;
    width: 100%;
    flex-direction: column;
}

.rich-input__input {
    flex: 2;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
}

.rich-input__dummy-tag {
    padding: 3px;
}

.rich-input__input-element {
    height: 32px;
}

.rich-input__input-element_hidden {
    opacity: 0%;
}

.rich-input__input-element {
    width: calc(100% - 4px);
    flex: 2;
    outline: none;
    border: none;
}

.rich-input__attributes {
    display: flex;
    padding: 4px;
    gap: 4px;
}


.rich-input__group-selected {
    background-color: var(--color-off-white);
}