.uc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 48px 0px;
    gap: 12px;
}

.uc__header {
    width: 800px;
}

.uc__header-title {
    margin: 0px;
}

.uc__bar {
    display: flex;
    width: 784px;
    border-bottom: 1px solid #292929;
}

.uc__bar-items {
    margin: 0px 16px 2px 0px;
    width: 150px;
}

.uc__cc-container {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}