.nav {
    z-index: 3;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 12px 0px 12px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-image: url("../../assets/noise.svg");
}

.nav__left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__icon {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.nav__right {
    display: flex;
    align-items: center;
    gap: 24px;
    
}

.nav__tab {
    color: rgb(200, 200, 200);
    text-align: center;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0px;
    cursor: pointer;
    mix-blend-mode: difference;
}

.nav__profile {
    height: 36px;
    width: 36px;
    border-radius: 18px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}