.input-attribute {
    font-size: 12px;
    font-weight: 700;
    padding: 4px 6px;
    border-radius: 10px;
    background-color: rgba(116, 161, 46, 0.5);
    display: flex;
    align-items: center;
    gap: 4px;
}

.input-attribute__text {
    line-height: 12px;
}

.input-attribute__delete {
    height: 9px;
    width: 9px;
}