.radio {
    padding: 8px;
    border: 1px dashed #292929;
    border-radius: 6px;
    cursor: pointer;
    opacity: 50%;
    transition: border 0.2s, opacity 0.2s;
}

.radio:hover {
    opacity: 80%;
}

.radio_selected {
    border: 1px solid #292929;
    opacity: 100%;
}

.radio__group {
    display: flex;
    flex-direction: column;
}

.radio__group-items {
    display: flex;
    justify-content: space-around;
    padding: 8px 0px;
}

.radio__name {
    font-size: 12px;
    font-weight: 500;
    margin-left: 7px;
}