.text-input {
    display: flex;
    align-items: center;
    position: relative;
}

.text-input__name {
    font-size: 12px;
    line-height: 10px;
    position: absolute;
    left: 6px;
    bottom: 14px;
    padding: 0px 2px 0px 2px;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    cursor: none;
}

.text-input__name-focused {
    background-color: rgba(255, 255, 255, 1);
    bottom: 32px;
}

.text-input__input {
    border: 1px solid rgba(29, 29, 29, 0.5);
    border-radius: 4px;
    height: 32px;
    width: 100%;
    outline: 0px;
    padding-left: 6px;
}

.text-input__input:focus {
    border: 1px solid rgba(29, 29, 29, 0.75);
}