s {
    opacity: 50%;
}

.section {
    color: #292929;
    padding: 0px;
    margin-bottom: 4px;
}

.section__header {
    display: flex;
    padding: 0px 6px;
}

.section__collapse-button {
    margin-left: 5px;
    margin-right: 3px;
    height: 18px;
    width: 18px;;
    padding: 0px;
    border: 0px;
    border-radius: 14px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section__collapse-button:hover {
    background-color: lightgrey;
}

.section__drop-down-arrow {
    opacity: 70%;
    height: 16px;
    width: 16px;
    transform: rotate(90deg);
    transition: transform 0.15s ease-in-out;
}

.section__drop-down-arrow_collapsed {
    transform: rotate(0deg);
}

.section__name {
    margin: 0px;
    opacity: 80%;
    font-size: 18px;
}

.section__items {
    display: flex;
    flex-direction: column;
}

.section:hover .section__new-item-input {
    opacity: 100%;
}

.section__new-item-input {
    height: 28px;
    padding-left: 56px;
    color: #292929;
    background-color: rgba(0,0,0,0);
    width: calc(100% - 13px);
    text-wrap: wrap;
    box-sizing: border-box;
    border: 0px;
    outline-width: 0;
    opacity: 0%;
}

.section__new-item-input:hover {
    background-color: whitesmoke;
}

.section__new-item-input:focus {
    opacity: 100%;
}
