.clitem {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 6px 12px 6px 12px;
    gap: 4px;
}

.clitem:hover {
    background-color: var(--color-off-white);
}

.clitem__top {
    display: flex;
}

.clitem__bottom {
    margin-left: 24px;
    display: flex;
}

.clitem__content {
    display: flex;
    justify-content: space-between;
}

.clitem__left-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.clitem__tag {
    padding: 2px 6px;
    margin-right: 4px;
    font-size: 12px;
    background-color: #99C9FF;
    color: #00438F;
    font-weight: 700;
    border-radius: 2px;
}

.clitem__right-container {
    right: 0px;
    top: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    visibility: hidden;
}

.clitem:hover .clitem__right-container {
    visibility: visible;
}

.clitem__checkbox {
    width: 16px;
    height: 16px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
}

.clitem__checkbox:hover {
    border-color: black !important;
}

.clitem__label {
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    position: relative;
    transition: color 0.15s;
    transform: translateY(1px);
}

.clitem__strike {
    color: rgba(29, 29, 29, 0.5);
    text-decoration: line-through 1px;
}