.body {
	margin-left: 8px;
	width: 480px;
	height: 100%;
}

.blurb {
	background-color: rgba(0, 0, 0, 0);
	padding: 4px 6px 4px 8px;
	font-size: 20px;
	transition: background-color 0.2s ease-in-out;
}

.blurb:hover {
	background-color: white;
	box-shadow: 0px 0px 4px rgb(29, 29, 29, 0.2);
}
