.body {
    margin-left: 6px;
    width: 480px;
    height: 100%;
}

.editorClosed {
    display: none;
}

.header {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px;

    .checkBox {
        margin: 6px 0px 2px 6px;
    }
}

.closeButton {
    display: flex;
    color: var(--color-black-50);
    stroke: var(--color-black-50);
    cursor: default;
    transition: color 0.1s ease-in, stroke 0.1s ease;
    align-items: center;
    gap: 4px;
}

.closeButton:hover {
    color: var(--color-black);
    stroke: var(--color-black);
}

.blurb {
    background-color: rgba(0, 0, 0, 0);
    padding: 2px 3px 2px 3px;
    font-size: 20px;
    transition: background-color 0.2s ease-in-out;
}

.blurb:hover {
    background-color: white;
    box-shadow: 0px 0px 4px rgb(29, 29, 29, 0.2);
}

.subTask {
    height: 24px;
    display: flex;
    align-items: center;
    padding: 2px;

    .checkBox {
        padding: auto 0px;
        margin-right: 4px;
    }
}

.addSubTask {
    .checkBox {
        opacity: 50%;
    }

    input {
        border: none;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0);
        flex: 1;
        outline: none;
    }
}
