.text-input {
    display: flex;
    flex-direction: row;
    align-items: start;
    min-height: 34px;
}

.text-input__title {
    margin: 6px 12px 6px 0px;
    font-weight: 700;
    color: rgba(29, 29, 29, 0.75);
}

.text-input__blurb {
    margin-bottom: 6px;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 6px;
    margin: 0px;
    font-weight: 500;
    background-color: rgba(29, 29, 29, 0.05);
    border-radius: 6px;
    word-break: normal;
    line-break: auto ;
    text-wrap-mode:auto;
    overflow: wrap;
    outline: none;
    transition: background-color 0.2s ease-in-out;
}

.text-input__blurb:hover {
    background-color: rgba(29, 29, 29, 0.1);
}