@font-face {
  font-family: liter;
  src: url(../src/assets/Liter-Regular.ttf) format('truetype');
}

:root {
  --color-primary: #74a12e;
  --color-black: #292929;
  --color-off-white: rgba(235, 235, 235);
}

body {
  font-family: liter, Helvetica, sans-serif;
  background: rgb(224,223,241);
  background: linear-gradient(128deg, rgba(224,223,241,1) 0%, rgba(225,250,255,1) 100%);
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
}



.app {
  padding: 0px;
  color: var(--color-black);
  transition: 0.2s -webkit-filter linear;
}
