@import "tailwindcss";

@font-face {
  font-family: liter;
  src: url(../src/assets/Liter-Regular.ttf) format('truetype');
}

:root {
  --color-primary: #74a12e;
  --color-black: #292929;
  --color-off-white: rgba(235, 235, 235);
  --h1: 700 18px/1em #292929;
}

body {
  font-family: liter, Helvetica, sans-serif;
  background: rgb(224,223,241);
  background: linear-gradient(128deg, rgba(224,223,241,1) 0%, rgba(225,250,255, 1) 100%);
}

h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  color: rgba(29, 29, 29, 1);
}

h2 {
  margin: 0;
  font-size: 18px;
  color: rgba(29, 29, 29, 1);
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
}

small {
  font-size: 12px;
  line-height: 12px;
}

.app {
  padding: 0px;
  color: var(--color-black);
  transition: 0.2s -webkit-filter linear;
}
