.cl-outline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: padding-left 0.2s;
}

.cl-outline:hover {
    padding-left: 6px;
}

.cl-outline__name {
    font-weight: 500;
}

.cl-outline__detail {
    font-size: 10px;
    margin-bottom: 2px;
}

.cl-outline__left {
    display: flex;
    align-items: end;
    gap: 8px
}

.cl-outline__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.cl-outline__controls {
    display: flex;
    align-items: center;
    visibility: hidden;
    gap: 2px;
}

.cl-outline:hover .cl-outline__controls {
    visibility: visible;
}

.cl-outline__delete {
    height: 14px;
    width: 14px;
    cursor: pointer;
    opacity: 50%;
    transition: opacity 0.1s;
}

.cl-outline__delete:hover {
    opacity: 100%;
}

.cl-outline__edit {
    opacity: 50%;
    transition: opacity 0.1s
}

.cl-outline__edit:hover {
    opacity: 100%;
}