.cl-outline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cl-outline-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40px;
}