.checklist {
	padding: 0px;
	height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1;
	overflow: auto;
	scrollbar-width: thin;
}

.checklist::-webkit-scrollbar-button {
	display: none;
}

.table th {
	position: sticky;
	z-index: 2;
	top: 0;
	background-color: white;
	box-shadow: inset 0px -1px #ccc;
}

.tableBody {
	display: flex;
}

.checklistBody {
	display: flex;
	flex: 1;
	overflow-y: scroll;
}

.noContentBlurb {
	font-size: 24px;
	color: rgba(29, 29, 29, 0.2);
}

.checklist table {
	border-collapse: collapse;
}

.checklist th,
.checklist td {
	text-align: left;
}

.checklist tr {
	height: 30px;
}

.checkBoxSelect {
	box-sizing: border-box;
	width: 30px;
	padding: 0px 7px;
}
